.container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: lightblue;
}
.flex-item{
    flex-basis: 200px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(6, 76, 48);
    font-size: 2rem;
    font-family: sans-serif;
    text-align: center;
}
#ok{
    color: rgb(141, 191, 237);
    border: 2px solid rgb(229, 185, 75);
}
#cancel{
    color: white;
    background-color:rgb(79, 7, 89);
}
.toggleOn{
    background-color:white;
}
.toggleOff{
    background-color: darkgray;
}
.output-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    background-color: lightcoral;
}
.output-flex-item{
    flex-basis: 200px;
    padding: 20px;
    margin: 20px;
    background-color: lightcyan;
    font-size: 3rem;
    font-family: sans-serif;
    text-align: center;
}